.debug{
    min-height: 50px;
    background-color: #ff010149;
    border: 1px solid #000;
}

header{
    height: 80px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

main{
    height: 100vh;
    background-color: rgba(0, 255, 255, 0.269);
    padding-top: 80px;
}

/* Header */
.logo .mobile-image{
    width: 50px;
    vertical-align: middle;
}

.logo .desktop-image{
    width: 110px;
    vertical-align: middle;
}



/* Main */
#sidebar{
    width: 80px;
    height: 100%;
    flex-shrink: 0;
    background-color: #ffffff2c;
    border: 1px solid #000;
}

#cta{
    width: calc(100% - 230px);
    height: 90px;
    background-color: #949a455f;
}






/* Responsive custom */
@media screen and (min-width: 992px){
    #sidebar{
        width: 230px;
    }
}