.debug{
    min-height: 50px;
    background-color: #ff010149;
    border: 1px solid #000;
}

header{
    height: 80px;
}

.logo .mobile-image{
    width: 50px;
    vertical-align: middle;
}

.logo .desktop-image{
    width: 100%;
    vertical-align: middle;
}

.logo{
    width: 10%;
}

.try-to-search{
    width: 80%;
}

.header-icons{
    width: 10%;
}